<h3> Add item </h3>
<form (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <label for="id">ID</label>
        </div>
      <div class="col-md-9">
        <input type="number" id="id" name="id" [(ngModel)]="formData.id" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="name">Name</label>
      </div>
      <div class="col-md-9">
        <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
    </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="quantity">Quantity</label>
      </div>
      <div class="col-md-9">
        <input type="number" id="quantity" name="quantity" [(ngModel)]="formData.quantity" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="price">Price</label>
      </div>
      <div class="col-md-9">
        <input type="number" id="price" name="price" [(ngModel)]="formData.price" required>
      </div>
    </div>
  </div>
  <br><br>
  <button type="submit">Add Product</button>

</form>

